@model CNJewellerAdmin.Models.DriveFilesDTO
<div class="modal-header bg-dark">
    <h5 class="modal-title" style="color:white;">Drive File List</h5>
    <button type="button" class="close" data-dismiss="modal">
        <i class="fas fa-times  icon-2x" style="color:white;"></i>
    </button>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div class=""></div>
        <h5 class="mt-0">Text in a modal</h5>

    </div>
        <div>Name :  @Model.UserName</div>
        <div>Mobile : @Model.Mobile</div>
        <div>Expiry Time : @Model.ExpiryTime</div>
</div>